* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
}

button{
    color: black;
}


textarea{
    color: black;
}

#input-output-t2m{
    display: block;
}

#input-output-m2t{
    display: none;
}

.flashing-light {
    width: 30px;
    height: 30px;
    background-color: #f6ff00; /* Set the light color here */
    display: none; /* Initially hide the light */
  } 