@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f2f2f2; 
    font-family: 'Roboto Condensed', sans-serif;
}

html,body {
    height: 100vh;
    width: 100vw;
    background: rgb(28,32,29);
    overflow-x: hidden; 
}

#main {
    height: 100%;
    width: 100%;
    max-width: 80%;
    background: rgb(28,32,29);

    margin: auto;
    margin-top: 50px;
    text-align: center;
}

button{
    color: black;
}


textarea{
    color: #f2f2f2;
    background-color: #393e46;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;

    padding: 10px;
    margin: 10px;

    resize: none;
    
}

#input-output-t2m{
    display: block;
}

#input-output-m2t{
    display: none;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
    letter-spacing: 5px;
    padding: 10px;
}

#tab-switcher{
    margin-top: 60px;
}

#tab-switcher>button{
    border: none;
    padding: 10px 20px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: #f96d00;
    border-radius: 10px;
    font-weight: 600;
}

#tab-switcher > button:hover {
    transform: scale(1.1);
}

#tab-switcher > button:active {
    transform: scale(0.9); 
}
#input-output-t2m , #input-output-m2t{
    margin-top: 30px;
}

#audio-controls{
    margin: 10px;
    margin-bottom: 80px;
}

.audio-buttons{
    margin-bottom: 30px;
}

.audio-buttons>button{
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding:8px 20px;
    background-color:#f96d00;
}

.audio-buttons > button:hover {
    transform: scale(1.1);
}

.audio-buttons > button:active {
    transform: scale(0.9); 
}

.audio-speed{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 5px;
}

.audio-speed>input{
    width: 300px;
}

table {
    border-collapse: collapse;
    margin: auto;
    padding: 20px;

    margin-bottom: 50px;
}
td {
    border: 2px solid #f96d00;
    width: 80px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 3px;
}


footer{
    padding: 50px;
}